body{
    height: auto;
}
h1{
    text-align: center;
    font-size: 25px;
}

.logss img{
    width: 30px;
}

/* Эффект увеличения логотипа при наведении*/
.logss :hover{
    width: 40px;
}

/*настройка лайка*/
.card-img{
    width: 30%;
    margin: auto;
}

/* Табы синий цвет и по-жирнее*/
.nav-link {
    color: #003867;
    font-weight: bold;
} 



